.stripes {
  height: calc(60px + 10vw);

  img {
    width: 100%;    
    object-fit: cover;
  }
}

@media (max-width: 500px) {
  .stripes {
    img {
      transform: scaleY(2) rotate(-1deg);
    }
  }
}