$green: #32b318;
$lazure: #21e6ec;
$orange: #f7a438;
$pink: #fa8fef;
$lavender: #ae97e8;
$darklavender: #5c4597;
$blue: #0e0af3;
$lime: #d9ff5a;

.filter {
  width: 20rem;
  box-sizing: border-box;

  .label {
    height: 3.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    span {
      font-weight: 500;
      font-size: 1.125rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: white;
    }
  }

  .filter_menu {
    box-sizing: border-box;

    .price {
      border-radius: 2.5rem;
      height: 13.5rem;
      background: #cbb6ff;
      padding: 1.4rem 1.9rem;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      label {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 150%;
        color: white;
      }

      .price_inputs {
        display: flex;
        justify-content: space-between;

        input {
          border-radius: 0.75rem;
          width: 7.7rem;
          height: 2.5rem;
          box-sizing: border-box;
          background: $lavender;
          border: none;

          text-align: center;
          font-weight: 500;
          font-size: 1.125rem;
          line-height: 150%;
          color: white;
        }
      }

      .price_display {
        display: flex;
        justify-content: space-around;

        span {
          font-weight: 500;
          font-size: 1.125rem;
          line-height: 150%;
          color: white;
        }
      }
    }

    .colors {
      border-radius: 2.5rem;
      background: #cbb6ff;
      padding: 1.4rem 1.9rem;
      box-sizing: border-box;

      label {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 150%;
        color: white;
      }

      .colors_list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
      }

      .checkboxLabel {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding-left: 2.5rem;
        font-size: 1.125rem;
      }

      .checkboxInput {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 0;
      }

      .customCheckbox {
        position: absolute;
        left: 0;
        top: 0.1875rem;
        height: 1rem;
        width: 1rem;
        background-color: transparent;
        border: 2px solid $lavender;
        border-radius: 0.25rem;
        transition: all 0.3s ease;
      }

      .checkboxInput:checked + .customCheckbox {
        background-color: $lime;
      }

      .checkboxLabel:hover .customCheckbox {
        border-color: $darklavender; /* Изменение цвета границ при наведении */
      }
    }
  }
}
