@media (max-width: 1024px) {
  .search {
    span {
      display: none;
    }
  }
}

@media (max-width: 500px) and (orientation: portrait) {
  .menu_container {
    & svg {
      width: 25px;
      height: 25px;
    }

    .desctop_container {
      display: none;
    }

    .mobile_container {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;

      .label_container {
        font-family: 'LeMurmure';
        font-weight: 600;
        font-size: 2rem;
        color: white;
        text-decoration: none;
      }

      .icons {
        gap: 0.5rem;
        display: flex;
        align-items: start;

        .basket {
          position: relative;
          top: 0;
          left: 0;
            .dot {
              width: 10px;
              height: 10px;
              border-radius: 100%;
              border: 5px $lavender solid;
              background: red;
              position: absolute;
              top: -7px;
              right: 0;
  
              &.visible {
                display: block;
              }
  
              &.hidden {
                display: none;
              }
            }

        }
      }
    }
  }
}
