

.menu_container {
  width: 100%;
  height: 2.3rem;
  position: absolute;
  top: calc(10px + 2vh);
  left: 0;
  z-index: 5;

  box-sizing: border-box;

  button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }

  .desctop_container {
    width: 100%;
    display: flex;
    align-items: center;

  & span {
    font-weight: 500;
    font-size: 1.125rem;
    color: white;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }

  & > * {
    display: flex;
    justify-content: center;
  }

  .label_container {
    width: 15ch;
    .label {
      font-family: 'LeMurmure';
      font-weight: 600;
      font-size: calc(30px + 0.75vw);
      color: white;
    }
  }
  
  .catalog {
    width: 20%;
    gap: 0.875rem;
  }

  .central_panel {
    flex: 1;
    gap: 1.875rem;
  }
  
  .search {
    width: 19.5%;
    display: flex;
    align-items: center;

    button {
      display: flex;
      align-items: center;
    }
  }
  
  .personalAccount {
    width: 19.5%;
    display: flex;
    gap: 2.125rem;
  }
}
  .mobile_container {
    display: none;    
  }

}

@import './media.module.scss';