$yellow: #D9FF5A;

.button_container {
  position: relative;
  width: 357px;
  height: 156px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;


  //*********************************
  //Не работает анимация при наведении
  &:hover {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;   
    transform: scale(1.05); /* Увеличение при наведении */
  }

  .ellipse {
    position: absolute;
    width: 356px;
    height: 135px;
    border-radius: 100%; /* Делаем эллипс */
  }
  
  .ellipse_back {
    border: 2px $yellow solid;
    transform: rotate(-2deg); /* Наклон назад */
  }
  
  .ellipse_front {
    border: 2px $yellow solid;
    transform: rotate(-13deg); /* Наклон назад */
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
  }
  
  .icon {
    position: relative;
    z-index: 2;
    font-size: 24px;
    color: #333;
    margin-right: 10px;
  }
  
  .text {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: white;

    position: relative;
    z-index: 2;
  }
}




