$green: #32b318;
$lazure: #21e6ec;
$orange: #f7a438;
$pink: #FA8FEF;
$lavender: #AE97E8;
$blue: #0e0af3;
$lime: #D9FF5A;

.order_container {
  width: 100%;
  height: 100vh;
  background: $lavender;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 60px;
}

