$lavender: #AE97E8;

.order_container {
  width: 100%;
  height: auto;
  background: $lavender;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 calc(10px + 2.5vw);
}

@import './media.module.scss';

