$yellow: #d9ff5a;

.button_container {
  position: relative;
  width: 7.5rem;
  height: 5.3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;

  &:hover {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transform: scale(1.05);
  }

  .ellipse_front {
    position: absolute;
    width: 7.5rem;
    height: 5.3rem;
    border-radius: 100%;
    border: 2px $yellow solid;
    transform: rotate(-15deg);
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
  }

  .text {
    margin: 0;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
    color: white;

    position: relative;
    z-index: 2;
  }
}
