$lime: #d9ff5a;

.button_container {
  position: relative;
  width: calc(170px + 10vw);
  height: calc(0.4 * (170px + 10vw));
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;

  &:hover {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transform: scale(1.05); /* Увеличение при наведении */
  }

  .ellipse_front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%; /* Делаем эллипс */
    border: 2px $lime solid;
    transform: rotate(-13deg); /* Наклон назад */
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
  }

  .icon {
    position: absolute;
    top: calc(50% + 1.7rem);
    left: calc(50% - 0.3rem);
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .text {
    margin: 0;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
    color: white;
    position: relative;
    z-index: 2;
  }
}
