$green: #32b318;
$lazure: #21e6ec;
$orange: #f7a438;
$pink: #FA8FEF;
$lavender: #AE97E8;
$blue: #0e0af3;
$lime: #D9FF5A;

.main_containers {
  width: 100%;
  height: 100vh;
  padding: calc(12px + 1.5vh) calc(10px + 2.5vw);

  position: fixed;
  top: 0;
  left: 0;

  box-sizing: border-box;

  background: rgba(51, 32, 101, 0.18);
  backdrop-filter: blur(10px); /* Применение размытия */

  z-index: 10;
  
  button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }

  .closeButton {
    width: 20px;
    aspect-ratio: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: calc(42px + 1.5vh);
    right: calc(40px + 2.5vw);
  }

  .container {
    width: 100%;
    height: 100%;
    border-radius: 30px;

    .info {
      width: 100%;
      height: 46%;
      display: flex;

      & .title {
        font-weight: 500;
        font-size: calc(0.6875rem + 0.25vw);
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
      }

      .contacts {
        width: 53%;
        height: 100%;
        background-color: $lavender;
        box-sizing: border-box;
        padding: 7.4vh 5vw 7.4vh 1vw;
        display: flex;
        justify-content: space-around;

        .adress {
          height: 100%;
          display: flex;
          flex-direction: column;

          .city {
            margin-top: calc(2rem + 1vw);
            font-weight: 500;
            font-size: calc(0.75rem + 2.5vw);
            text-transform: uppercase;
            color: white;
            line-height: calc(2.5rem + 1vw);
          }

          .street {
            margin-top: calc(1.0625rem + 0.75vw);
            font-weight: 500;
            font-size: calc(0.75rem + 0.3vw);
            color: white;
          }

          .toMap {
            margin-top: auto;
            font-weight: 500;
            font-size: calc(0.75rem + 0.3vw);
            color: white;

            display: flex;
            align-items: center;
            gap: calc(0.75rem + 0.3vw);;

            svg {
              height: calc(0.75rem + 0.4vw);
            }
          }
        }

        .phone {
          height: 100%;
          display: flex;
          flex-direction: column;

          .number {
            margin-top: calc(2rem + 1vw);
            font-family: 'Floreste-Wavy';
            font-weight: 400;
            font-size: calc(1.6875rem + 0.65vw);
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: white;
            line-height: calc(2.5rem + 1vw);
          }

          .text {
            margin-top: calc(1.0625rem + 0.75vw);
            font-weight: 500;
            font-size: calc(0.75rem + 0.3vw);
            color: white;
          }

          .icons {
            margin-top: auto;
            display: flex;
            gap: 1rem;

            .icon {
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 100%;
              background: white;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      .feedback_form {
        width: 47%;
        height: 100%;
        background: $pink;
        padding: 7.4vh 4vw 4rem 4vw;
        box-sizing: border-box;

        .form {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
    
          .input {
            width: 100%;
            height: 2rem;
            padding: 0.5rem 0;
            border: none;
            background: transparent; /* Прозрачный фон */
            outline: none;
            color: #fff;
            border-bottom: 2px solid $lime; /* Желтая линия при фокусе */
            transition: border-color 0.3s;
            font-size: 1rem;
        
            &::placeholder {
              font-weight: 500;
              font-size: 1rem;
              text-transform: uppercase;
              color: white;
            }
          }
    
          .orderButton {
            width: calc(9rem + 2.2vw);
            aspect-ratio: 22 / 13;
            //height: calc(5.625rem + 0.25vw);
            position: relative;
    
            .ellipse {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              border-radius: 100%; /* Делаем эллипс */
              border: 2px $lime solid;
              transform: rotate(-6deg); /* Наклон назад */
              background: rgba(255, 255, 255, 0.1);
              z-index: 1;
            }
    
            span {
              font-weight: 500;
              font-size: calc(0.9375rem + 0.25vw);
              line-height: 120%;
              color: white;
            }
          }
        }
      }
    }

    .map {
      width: 100%;
      height: 54%;
    }
  }
}

@import './media.module.scss';