$green: #32b318;
$lazure: #21e6ec;
$orange: #f7a438;
$likePink: #ffb1f7;
$pink: #fa8fef;
$lavender: #ae97e8;
$darklavender: #5c4597;
$blue: #0e0af3;
$lime: #d9ff5a;

.card {
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: space-between;

  .img_container {
    width: 5.625rem;
    height: 8.875rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .main {
    width: 24.625rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text {
        .name {
          margin-bottom: 0.625rem;
          display: flex;
          gap: 1rem;

          .ellipse {
            width: 1rem;
            height: 1rem;
            border-radius: 100%;
            border: 3px white solid;

            &.green {
              background-color: $green;
            }
            &.lazure {
              background-color: $lazure;
            }
            & .orange {
              background-color: $orange;
            }
            &.pink {
              background-color: $pink;
            }
            &.lavender {
              background-color: $lavender;
            }
            &.blue {
              background-color: $blue;
            }
          }

          span {
            font-weight: 500;
            font-size: 1.25rem;
            text-transform: uppercase;
            color: white;
          }
        }

        .product {
          span {
            font-weight: 500;
            font-size: 1.125rem;
            color: white;
          }
        }
      }

      .likeButton {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 100%;
        border: 2px solid $likePink;
        background-color: rgba(255, 255, 255, 0.19);
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    hr {
      border: 2px solid $lime;
      width: 100%;
      height: 0px;
    }

    .price {
      .numbers {
        font-family: 'Floreste-Wavy';
        font-weight: 400;
        font-size: 1.75rem;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: white;
      }
      .ruble {
        font-weight: 400;
        font-size: 1.25rem;
        text-transform: uppercase;
        color: white;
      }
    }
  }
}

@import './media.module.scss';
