$lavender: #AE97E8;

.container {
  width: 100%;
  min-height: 100vh;
  background: $lavender;
  display: flex;
  flex-direction: column;
  padding-top: 26vh;
  box-sizing: border-box;

  h2 {
    font-weight: 500;
    font-size: calc(13px + 0.75vw);
    text-transform: uppercase;
    color: white;
  }

  .searchResults {
    width: 100%;
    flex-grow: 1;
    position: relative;
    box-sizing: border-box;
  }
}

@import './media.module.scss';