$lavender: #ae97e8;

.container {
  width: 100%;
  height: 100%;
  background: $lavender;
  box-sizing: border-box;

  .bg_span {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 6.25rem;

    span {
      font-family: 'Floreste-Wavy';
      font-weight: 400;
      font-size: calc(25px + 10vw);
      text-transform: uppercase;
      color: rgba(203, 182, 255, 0.6);
      white-space: nowrap;
    }
  }

  .span {
    margin-top: 18%;
    display: flex;
    justify-content: space-between;

    span {
      font-weight: 500;
      font-size: 1.125rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: white;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .big_pic {
    height: 72%;
    position: absolute;
    top: calc(50% + 5vh);
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .small_pic {
    height: 20vh;
  }

  .pic2 {
    position: absolute;
    top: 60%;
    left: 5%;
  }

  .pic3 {
    position: absolute;
    top: 70%;
    left: 20%;
    transform: rotate(-13deg);
  }

  .pic4 {
    position: absolute;
    top: 60%;
    right: 20%;
    transform: rotate(7deg);
  }

  .pic5 {
    position: absolute;
    top: 70%;
    right: 5%;
    transform: rotate(17deg);
  }
}

@import './media.module.scss';
