$lime: #D9FF5A;

  .form_container {
    width: calc(60vw - 270px);
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      background-color: rgba(255, 255, 255, 0);
      border: none;
    }

    h2 {
      margin: 0;
      font-weight: 500;
      font-size: 3.75rem;
      text-transform: uppercase;
      color: white;
    }
    
    .form {
      width: 100%;
      height: 33vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .input {
        width: 100%;
        height: 2rem;
        padding: 0.5rem 0;
        border: none;
        background: transparent;
        outline: none;
        color: #fff;
        border-bottom: 2px solid $lime;
        transition: border-color 0.3s;
    
        &::placeholder {
          font-weight: 500;
          font-size: 1rem;
          text-transform: uppercase;
          color: white;
        }
      }

      .orderButton {
        width: 12rem;
        height: 6rem;
        position: relative;

        .ellipse {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          border: 2px $lime solid;
          transform: rotate(-6deg);
          background: rgba(255, 255, 255, 0.1);
          z-index: 1;
        }

        span {
          font-weight: 500;
          font-size: 1.25rem;
          line-height: 120%;
          color: white;
        }
      }
    }
  }

