$green: #32b318;
$lazure: #21e6ec;
$orange: #f7a438;
$pink: #fa8fef;
$lavender: #ae97e8;
$blue: #0e0af3;
$lime: #d9ff5a;

.productCard_container {
  width: calc(200px + 4vw);
  aspect-ratio: 2 / 3;
  position: relative;

  .img_container {
    width: 100%;
    height: 62.5%;

    .ellipse {
      position: absolute;
      top: 2.5%;
      left: 1%;
      width: 1.125rem;
      height: 1.125rem;
      border-radius: 100%;
      border: 0.25rem white solid;

      &.green {
        background-color: $green;
      }
      &.lazure {
        background-color: $lazure;
      }
      & .orange {
        background-color: $orange;
      }
      &.pink {
        background-color: $pink;
      }
      &.lavender {
        background-color: $lavender;
      }
      &.blue {
        background-color: $blue;
      }
    }

    .img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .description_container {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;

    .name {
      font-weight: 500;
      font-size: 1.75rem;
      text-transform: uppercase;
      text-align: center;
      color: white;
    }

    .product {
      font-weight: 500;
      font-size: 1rem;
      line-height: 153%;
      text-align: center;
      color: white;
    }

    hr {
      border: 1px solid $lime;
      width: 100%;
      height: 0px;
    }

    .price {
      position: absolute;
      bottom: 0;
      left: 0;

      font-family: 'Floreste-Wavy';
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      color: white;

      .numbers {
        font-size: 1.75rem;
        letter-spacing: 0.04em;
      }

      .rubles {
        font-size: 1.25rem;
        vertical-align: top;
      }
    }

    .button {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      font: inherit;
      color: inherit;
      text-align: inherit;
      outline: none;
      box-shadow: none;
      cursor: pointer;

      width: 6.4rem;
      height: 1.5rem;
      display: flex;
      justify-content: space-between;

      position: absolute;
      bottom: 0;
      right: 0;

      font-weight: 500;
      font-size: 1.25rem;
      line-height: 120%;
      color: white;
    }
  }
}
