$lime: #D9FF5A;
$lavender: #AE97E8;

.newsCard_container {
  width: calc(300px + 16vw);
  aspect-ratio: 79 / 50;
  position: relative;
  padding: 0 0.75vw;
  box-sizing: border-box;
  overflow: hidden;

  .svg {
    width: 100%
  }

  .readingTime {
    width: 16%;
    aspect-ratio: 23 / 20;

    border-radius: 100%;
    background: rgba(255, 255, 255, 0.19);
    border: 2px solid $lime;
    backdrop-filter: blur(20px);
    transform: rotate(-15deg);
    box-sizing: border-box;

    position: absolute;
    bottom: 0;
    left: 24%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-transform: uppercase;
    text-align: center;
    color: white;

    p {
      margin: 0;
    }

    .count {
      font-family: 'Floreste-Wavy';
      font-weight: 400;
      font-size: 2.5rem;
      letter-spacing: 0.04em;
    }

    .measurement {
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .img_container {
    width: calc((300px + 14.5vw) * 0.44);
    aspect-ratio: 4 / 5;
    border-radius: calc(24px + 0.2vw);

    position: absolute;
    top: 12px;
    right: calc(0.75vw + 12px);

    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: calc(24px + 0.2vw);

      transition: transform 0.3s ease;
      transform-origin: center right;
    }
  }

  .number {
    position: absolute;
    top: 6.6%;
    left: 4.3%;

    span {
      font-weight: 500;
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .author {
    width: 5.625rem;
    position: absolute;
    top: 6.6%;
    left: 25.8%;
    white-space: wrap;

    span {
      display: inline-block;
      text-align: right;
      font-weight: 500;
      font-size: 1.125rem;      
      color: white;
    }
  }

  .name {
    width: 40%;

    position: absolute;
    top: 42%;
    left: 4.3%;
    transform: translate(0, -50%);

    p {
      margin: 0;
      line-height: 2.375rem;
      font-weight: 500;
      font-size: 1.75rem;
      text-transform: uppercase;
      color: white;
    }    
  }

  .date {
    width: 10ch;
    height: 2rem;

    position: absolute;
    bottom: 15%;
    left: 4.3%;

    p {
      margin: 0;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.25rem;
      text-transform: uppercase;
      color: white;
    }
  }

  &:hover {
    .readingTime {
      background: $lime;
      p {
        color: $lavender;
      }  
    }

    .img_container {
      img {
        transform: scale(1.1);
      }
    }
  }
}