$lime: #D9FF5A;
$lavender: #AE97E8;

.newsCard_container {
  width: 580px;
  height: 377px;
  position: relative;

  .readingTime {
    width: 96px;
    height: 83px;

    border-radius: 100%;
    background: rgba(255, 255, 255, 0.19);
    border: 2px solid $lime;
    backdrop-filter: blur(20px);
    transform: rotate(-15deg);
    box-sizing: border-box;

    position: absolute;
    bottom: 0;
    left: 22%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 0;
    }

    .count {
      font-family: 'Floreste-Wavy';
      font-weight: 400;
      font-size: 40px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      color: white;
    }

    .measurement {
      font-weight: 500;
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
      color: white;
    }
  }

  .img_container {
    width: 257px;
    height: 316px;
    border-radius: 30px;

    position: absolute;
    top: 13px;
    right: 13px;

    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;

      transition: transform 0.3s ease;
      transform-origin: center right;
    }
  }

  .number {
    position: absolute;
    top: 25px;
    left: 25px;

    span {
      font-weight: 500;
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .author {
    width: 90px;

    position: absolute;
    top: 25px;
    left: 150px;

    span {
      font-weight: 500;
      font-size: 18px;
      text-align: right;
      color: white;
    }
  }

  .name {
    width: 236px;

    position: absolute;
    top: 42%;
    left: 25px;
    transform: translate(0, -50%);

    p {
      margin: 0;
      line-height: 38px;
      font-weight: 500;
      font-size: 28px;
      text-transform: uppercase;
      color: white;
    }    
  }

  .date {
    width: 82px;
    height: 29px;

    position: absolute;
    bottom: 59px;
    left: 25px;

    p {
      margin: 0;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      text-transform: uppercase;
      color: white;
    }
  }

  &:hover {
    .readingTime {
      background: $lime;
      p {
        color: $lavender;
      }  
    }

    .img_container {
  
      img {
        transform: scale(1.1);
      }
    }
  }
}