$green: #32b318;
$lazure: #21e6ec;
$orange: #f7a438;
$likePink: #FFB1F7;
$pink: #FA8FEF;
$lavender: #AE97E8;
$darklavender: #5c4597;
$blue: #0e0af3;
$lime: #D9FF5A;

.productCard {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  z-index: 10;
  background-color: $lavender;

  transition-duration: 0.3s;
  transition-timing-function: ease-out;  

  button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }

  .designer {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: -1;
    span {
      font-family: 'Floreste-Wavy';
      font-weight: 400;
      font-size: 18vw;
      text-transform: uppercase;
      color: rgba(203, 182, 255, 0.4);
    }
  }

  .article {
    width: 15ch;
    position: absolute;
    top: 17vh;
    left: calc(10px + 2.5vw);
    font-weight: 500;
    font-size: calc(0.6875rem + 0.25vw);
    text-transform: uppercase;
    color: white;
  }

  .color {
    position: absolute;
    top: 29vh;
    left: calc(10px + 2.5vw);
    display: flex;
    flex-wrap: wrap;

    span {
      font-weight: 500;
      font-size: calc(0.625rem + 0.5vw);
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: white;
    }

    .ellipse {
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      border: 3px white solid;
      margin-left: 1.2vw;
      margin-right: 0.5vw;
  
      &.green {
        background-color: #32b318;
      }
      &.lazure {
        background-color: #21e6ec;
      }
      &.orange {
        background-color: #f7a438;
      }
      &.pink {
        background-color: #FA8FEF;
      }
      &.lavender {
        background-color: #AE97E8;
      }
      &.blue {
        background-color: #0e0af3;
      }
    }
  }

  .description {
    position: absolute;
    bottom: 10vh;
    left: calc(10px + 2.5vw);

    width: 35ch;
    margin-top: auto;
    
    span {
      font-weight: 500;
      font-size: calc(0.6875rem + 0.5vw);
      line-height: 154%;
      color: white;
    }
  }

  .img_container {
    height: calc(230px + 23vw);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 11vh;

    .image {
      object-fit: contain;
    }
  }

  .name {
    position: absolute;
    bottom: 13vh;
    left: 50%;
    transform: translate(-50%, 0);
    span {
      font-family: 'Floreste-Wavy';
      font-weight: 400;
      font-size: 5vw;
      text-transform: uppercase;
      color: white;
    }
  }

  .price {
    position: absolute;
    bottom: 7vh;
    left: 50%;
    transform: translate(-50%, 0);

    .numbers {
      font-family: 'Floreste-Wavy';
      font-weight: 400;
      font-size: calc(25px + 1vw);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $lime;
    }

    .ruble {
      font-weight: 400;
      font-size: 1.25rem;
      text-transform: uppercase;
      vertical-align: top;
      color: $lime;
    }
  }  

  .closeButton {
    position: absolute;
    top: calc(10px + 2.5vw);
    right: calc(10px + 2.5vw);

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    span {
      font-weight: 500;
      font-size: calc(0.625rem + 0.5vw);
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #dad1f2;
      margin-right: 0.625rem;
    }
  }

  .likeButton {
    position: absolute;
    top: 14.5vh;
    right: calc(10px + 2.5vw);

    width: calc(40.6px + 2vw);
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: calc(22px + 0.6vw);
      height: calc(20px + 0.6vw); 
    }

    &.notLike {
      border: 2px solid $lime;
      svg {
        .path1 {
          fill: none;
        }
        .path2 {
          fill: $lime;
        }
      }
    }
    
    &.like {
      border: 2px solid $likePink;
      svg {
        .path1 {
          fill: white;
        }
        .path2 {
          fill: $likePink;
        }
      }
    }
  }

  .size {
    position: absolute;
    top: 29vh;
    right: calc(10px + 2.5vw);

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.625rem;
    span {
      font-weight: 500;
      font-size: calc(0.656rem + 0.375vw);
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: white;
    }
  }

  .buy {
    position: absolute;
    bottom: calc(10px + 2.5vw);
    right: calc(10px + 2.5vw);
  }
}

@import './media.module.scss';